In [1]:
#Dependencies
import csv
import numpy as np
import pandas as pd
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt

In [2]:
#Prepare data to load into df
data_to_load = "spreadspoke_scores.csv"

In [3]:
#load data into dataframe
scores_df = pd.read_csv(data_to_load)
scores_df.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,09/02/1966,1966,1,False,Miami Dolphins,14,23,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71,NaN
1,09/03/1966,1966,1,False,Houston Oilers,45,7,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70,NaN
2,09/04/1966,1966,1,False,San Diego Chargers,27,7,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82,NaN
3,09/09/1966,1966,2,False,Miami Dolphins,14,19,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78,NaN
4,09/10/1966,1966,1,False,Green Bay Packers,24,3,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62,NaN

In [17]:
#Update old home team names
scores_df['team_home'] = np.where(scores_df['team_home'] == "Tennessee Oilers", "Tennessee Titans", scores_df['team_home'])
scores_df['team_home'] = np.where(scores_df['team_home'] == "Houston Oilers", "Tennessee Titans", scores_df['team_home'])
scores_df['team_home'] = np.where(scores_df['team_home'] == "Baltimore Colts", "Indianapolis Colts", scores_df['team_home'])
scores_df['team_home'] = np.where(scores_df['team_home'] == "San Diego Chargers", "Los Angeles Chargers", scores_df['team_home'])
scores_df['team_home'] = np.where(scores_df['team_home'] == "Phoenix Cardinals", "Arizona Cardinals", scores_df['team_home'])
scores_df['team_home'] = np.where(scores_df['team_home'] == "St. Louis Cardinals", "Arizona Cardinals", scores_df['team_home'])
scores_df['team_home'] = np.where(scores_df['team_home'] == "Los Angeles Raiders", "Las Vegas Raiders", scores_df['team_home'])
scores_df['team_home'] = np.where(scores_df['team_home'] == "Oakland Raiders", "Las Vegas Raiders", scores_df['team_home'])
scores_df['team_home'] = np.where(scores_df['team_home'] == "St. Louis Rams", "Los Angeles Rams", scores_df['team_home'])
scores_df['team_home'] = np.where(scores_df['team_home'] == "Boston Patriots", "New England Patriots", scores_df['team_home'])

#Update old away team names
scores_df['team_away'] = np.where(scores_df['team_away'] == "Tennessee Oilers", "Tennessee Titans", scores_df['team_away'])
scores_df['team_away'] = np.where(scores_df['team_away'] == "Houston Oilers", "Tennessee Titans", scores_df['team_away'])
scores_df['team_away'] = np.where(scores_df['team_away'] == "Baltimore Colts", "Indianapolis Colts", scores_df['team_away'])
scores_df['team_away'] = np.where(scores_df['team_away'] == "San Diego Chargers", "Los Angeles Chargers", scores_df['team_away'])
scores_df['team_away'] = np.where(scores_df['team_away'] == "Phoenix Cardinals", "Arizona Cardinals", scores_df['team_away'])
scores_df['team_away'] = np.where(scores_df['team_away'] == "St. Louis Cardinals", "Arizona Cardinals", scores_df['team_away'])
scores_df['team_away'] = np.where(scores_df['team_away'] == "Los Angeles Raiders", "Las Vegas Raiders", scores_df['team_away'])
scores_df['team_away'] = np.where(scores_df['team_away'] == "Oakland Raiders", "Las Vegas Raiders", scores_df['team_away'])
scores_df['team_away'] = np.where(scores_df['team_away'] == "St. Louis Rams", "Los Angeles Rams", scores_df['team_away'])
scores_df['team_away'] = np.where(scores_df['team_away'] == "Boston Patriots", "New England Patriots", scores_df['team_away'])

In [18]:
scores_df['team_home'].unique()

array(['Miami Dolphins', 'Tennessee Titans', 'Los Angeles Chargers',
       'Green Bay Packers', 'Atlanta Falcons', 'Buffalo Bills',
       'Detroit Lions', 'Pittsburgh Steelers', 'San Francisco 49ers',
       'Arizona Cardinals', 'Washington Redskins', 'Los Angeles Rams',
       'Cleveland Browns', 'Dallas Cowboys', 'Denver Broncos',
       'Minnesota Vikings', 'New York Jets', 'Las Vegas Raiders',
       'Philadelphia Eagles', 'Indianapolis Colts',
       'New England Patriots', 'Kansas City Chiefs', 'New York Giants',
       'Chicago Bears', 'New Orleans Saints', 'Cincinnati Bengals',
       'Seattle Seahawks', 'Tampa Bay Buccaneers', 'Jacksonville Jaguars',
       'Carolina Panthers', 'Baltimore Ravens', 'Houston Texans'],
      dtype=object)

In [19]:
#Create labels dataframe
labels_df = pd.DataFrame({'team_home':['Green Bay Packers', 'Indianapolis Colts', 'Kansas City Chiefs',
       'Dallas Cowboys', 'Miami Dolphins', 'Minnesota Vikings',
       'Tampa Bay Buccaneers', 'Atlanta Falcons', 'Pittsburgh Steelers',
       'Los Angeles Rams', 'New England Patriots', 'Buffalo Bills',
       'Chicago Bears', 'Denver Broncos', 'New Orleans Saints',
       'New York Jets', 'Philadelphia Eagles', 'Seattle Seahawks',
       'Arizona Cardinals', 'Washington Redskins', 'Detroit Lions',
       'New York Giants', 'Los Angeles Chargers', 'San Francisco 49ers',
       'Cincinnati Bengals', 'Cleveland Browns', 'Tennessee Titans',
       'Las Vegas Raiders', 'Jacksonville Jaguars', 'Carolina Panthers',
       'Baltimore Ravens', 'Houston Texans'],'home_label':['GB','IND','KC','DAL','MIA','MIN','TB','ATL','PIT','LAR','NE','BUF',
                                                     'CHI','DEN','NO','NYJ','PHI','SEA','ARI','WAS','DET','NYG',
                                                     'LAC','SF','CIN','CLE','TEN','LV','JAX','CAR','BAL','HOU']})

#Create labels dataframe
labels_df_away = pd.DataFrame({'team_away':['Green Bay Packers', 'Indianapolis Colts', 'Kansas City Chiefs',
       'Dallas Cowboys', 'Miami Dolphins', 'Minnesota Vikings',
       'Tampa Bay Buccaneers', 'Atlanta Falcons', 'Pittsburgh Steelers',
       'Los Angeles Rams', 'New England Patriots', 'Buffalo Bills',
       'Chicago Bears', 'Denver Broncos', 'New Orleans Saints',
       'New York Jets', 'Philadelphia Eagles', 'Seattle Seahawks',
       'Arizona Cardinals', 'Washington Redskins', 'Detroit Lions',
       'New York Giants', 'Los Angeles Chargers', 'San Francisco 49ers',
       'Cincinnati Bengals', 'Cleveland Browns', 'Tennessee Titans',
       'Las Vegas Raiders', 'Jacksonville Jaguars', 'Carolina Panthers',
       'Baltimore Ravens', 'Houston Texans'],'away_label':['GB','IND','KC','DAL','MIA','MIN','TB','ATL','PIT','LAR','NE','BUF',
                                                     'CHI','DEN','NO','NYJ','PHI','SEA','ARI','WAS','DET','NYG',
                                                     'LAC','SF','CIN','CLE','TEN','LV','JAX','CAR','BAL','HOU']})

In [20]:
# Combine the data into a single dataset
scores_df = pd.merge(scores_df, labels_df, how="left", on=["team_home", "team_home"])
scores_df = pd.merge(scores_df, labels_df_away, how="left", on=["team_away", "team_away"])
scores_df.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,...,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,home_label_x,away_label_x,home_label_y,away_label_y
0,09/02/1966,1966,1,False,Miami Dolphins,14,23,Las Vegas Raiders,NaN,NaN,...,Orange Bowl,False,83.0,6.0,71,NaN,MIA,LV,MIA,LV
1,09/03/1966,1966,1,False,Tennessee Titans,45,7,Denver Broncos,NaN,NaN,...,Rice Stadium,False,81.0,7.0,70,NaN,TEN,DEN,TEN,DEN
2,09/04/1966,1966,1,False,Los Angeles Chargers,27,7,Buffalo Bills,NaN,NaN,...,Balboa Stadium,False,70.0,7.0,82,NaN,LAC,BUF,LAC,BUF
3,09/09/1966,1966,2,False,Miami Dolphins,14,19,New York Jets,NaN,NaN,...,Orange Bowl,False,82.0,11.0,78,NaN,MIA,NYJ,MIA,NYJ
4,09/10/1966,1966,1,False,Green Bay Packers,24,3,Indianapolis Colts,NaN,NaN,...,Lambeau Field,False,64.0,8.0,62,NaN,GB,IND,GB,IND

In [21]:
# Get the average points scored by home and away
home_points = scores_df.groupby(["team_home"]).mean()["score_home"]
away_points = scores_df.groupby(['team_away']).mean()['score_away']
#convert home and away points to dataframes
home_points_df = pd.DataFrame(home_points)
away_points_df = pd.DataFrame(away_points)

In [22]:
#sort values 
home_points_df = home_points_df.sort_values(by='score_home')
away_points_df = away_points_df.sort_values(by='score_away')

In [23]:
home_points_df

                      score_home
team_home
Tampa Bay Buccaneers   19.051282
Cleveland Browns       19.410000
Chicago Bears          20.348837
New York Giants        21.032634
Arizona Cardinals      21.045346
New York Jets          21.064286
Buffalo Bills          21.112412
Jacksonville Jaguars   21.254902
Philadelphia Eagles    21.347032
Carolina Panthers      21.512077
Atlanta Falcons        21.747045
Tennessee Titans       21.780660
Detroit Lions          21.805288
Washington Redskins    22.044084
New Orleans Saints     22.093079
Houston Texans         22.320000
Indianapolis Colts     22.504587
Miami Dolphins         22.642369
Cincinnati Bengals     22.651220
Kansas City Chiefs     23.032634
Los Angeles Chargers   23.119438
Las Vegas Raiders      23.256818
Minnesota Vikings      23.288636
Los Angeles Rams       23.320276
Green Bay Packers      23.503417
Seattle Seahawks       23.543175
Pittsburgh Steelers    23.637584
San Francisco 49ers    23.649667
New England Patriots   24.069351
Denver Broncos         24.070295
Baltimore Ravens       24.165000
Dallas Cowboys         25.011086

In [25]:
away_points_df

                      score_away
team_away
Tampa Bay Buccaneers   17.218130
Chicago Bears          17.524823
Arizona Cardinals      17.990566
Detroit Lions          18.030516
Cleveland Browns       18.438903
Buffalo Bills          18.493023
Atlanta Falcons        18.611628
Cincinnati Bengals     18.697561
New York Giants        18.810185
Tennessee Titans       18.840909
New York Jets          19.105991
Jacksonville Jaguars   19.271429
Houston Texans         19.283784
Los Angeles Rams       19.475862
Seattle Seahawks       19.516484
Miami Dolphins         19.577726
Denver Broncos         19.865116
Baltimore Ravens       20.000000
Washington Redskins    20.027714
Las Vegas Raiders      20.101617
Pittsburgh Steelers    20.140271
Indianapolis Colts     20.231651
New Orleans Saints     20.314149
Philadelphia Eagles    20.481481
Kansas City Chiefs     20.540603
Minnesota Vikings      20.552273
Green Bay Packers      20.723744
Los Angeles Chargers   20.730679
Dallas Cowboys         20.795918
Carolina Panthers      20.876190
New England Patriots   21.326484
San Francisco 49ers    21.453488

In [ ]:
# Build the scatter plots for teams' points at home and away.
plt.scatter(home_points_df, away_points_df)

# Incorporate the other graph properties
plt.title("NFL Points Scored", fontsize=20)
plt.ylabel("Points Away", fontsize=12)
plt.xlabel("Points at Home", fontsize=12)
plt.grid(True)


# Label points with team 
import plotly.express as px

In [ ]:
scores_df.columns.to_list()

In [ ]:
scores_df = scores_df[scores_df['team_favorite_id'].notna()]
scores_df.head()

In [ ]:
# inserting new column with values of list made above         
scores_df.insert(scores_df.columns.get_loc('team_favorite_id'), "winner",0)

In [ ]:
scores_df.head()

In [ ]:
#Create winner column
scores_df['winner'] = np.where(scores_df['score_home'] > scores_df['score_away'], scores_df['team_home'], scores_df['team_away'])

#check for ties
scores_df['winner'] = np.where(scores_df['score_home'] == scores_df['score_away'], "tie", scores_df['winner'])

In [ ]:
scores_df.head()

In [ ]:
scores_df['winner'].unique()

In [ ]:
#Count number of wins for each team
team_wins = scores_df

In [ ]:
team_wins = scores_df.groupby(['winner']).count()['team_home']
team_wins.head()

In [ ]:
#convert to df
team_wins_df = pd.DataFrame(team_wins)
#sort values 
team_wins_df = team_wins_df.sort_values(by='team_home')
team_wins_df.columns = ['number of wins']
team_wins_df