In [1]:
#Dependencies
import csv
import numpy
import pandas as pd

In [2]:
#Prepare data to load into df
data_to_load = "spreadspoke_scores.csv"

In [3]:
#load data into dataframe
scores_df = pd.read_csv(data_to_load)
scores_df.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,09/02/1966,1966,1,False,Miami Dolphins,14,23,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71,NaN
1,09/03/1966,1966,1,False,Houston Oilers,45,7,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70,NaN
2,09/04/1966,1966,1,False,San Diego Chargers,27,7,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82,NaN
3,09/09/1966,1966,2,False,Miami Dolphins,14,19,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78,NaN
4,09/10/1966,1966,1,False,Green Bay Packers,24,3,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62,NaN

In [4]:
# Get the average points scored by home and away
home_points = scores_df.groupby(["team_home"]).mean()["score_home"]
away_points = scores_df.groupby(['team_away']).mean()['score_away']

In [5]:
#convert home and away points to dataframes
home_points_df = pd.DataFrame(home_points)
away_points_df = pd.DataFrame(away_points)

In [6]:
#sort values 
home_points_df = home_points_df.sort_values(by='score_home')
away_points_df = away_points_df.sort_values(by='score_away')

In [7]:
home_points_df

                      score_home
team_home
Phoenix Cardinals      17.916667
Boston Patriots        18.323529
Tampa Bay Buccaneers   19.051282
Cleveland Browns       19.410000
Tennessee Oilers       20.250000
Chicago Bears          20.348837
New York Giants        21.032634
New York Jets          21.064286
Buffalo Bills          21.112412
Houston Oilers         21.135593
Arizona Cardinals      21.169014
Jacksonville Jaguars   21.254902
Philadelphia Eagles    21.347032
Carolina Panthers      21.512077
Los Angeles Raiders    21.590476
Baltimore Colts        21.629630
Atlanta Falcons        21.747045
Detroit Lions          21.805288
St. Louis Cardinals    21.829114
Washington Redskins    22.044084
New Orleans Saints     22.093079
Houston Texans         22.320000
Miami Dolphins         22.642369
Cincinnati Bengals     22.651220
Tennessee Titans       22.808140
Indianapolis Colts     22.897010
Kansas City Chiefs     23.032634
San Diego Chargers     23.104218
Minnesota Vikings      23.288636
Los Angeles Rams       23.316602
St. Louis Rams         23.325714
Los Angeles Chargers   23.375000
Green Bay Packers      23.503417
Seattle Seahawks       23.543175
Pittsburgh Steelers    23.637584
San Francisco 49ers    23.649667
Oakland Raiders        23.779104
Denver Broncos         24.070295
Baltimore Ravens       24.165000
New England Patriots   24.542373
Dallas Cowboys         25.011086

In [8]:
away_points_df

                      score_away
team_away
Boston Patriots         8.142857
Phoenix Cardinals      16.145833
Tampa Bay Buccaneers   17.218130
Chicago Bears          17.524823
Houston Oilers         17.754098
Detroit Lions          18.030516
Arizona Cardinals      18.084112
St. Louis Cardinals    18.413580
Cleveland Browns       18.438903
Buffalo Bills          18.493023
St. Louis Rams         18.520468
Atlanta Falcons        18.611628
Cincinnati Bengals     18.697561
New York Giants        18.810185
New York Jets          19.105991
Baltimore Colts        19.263158
Jacksonville Jaguars   19.271429
Houston Texans         19.283784
Seattle Seahawks       19.516484
Miami Dolphins         19.577726
Denver Broncos         19.865116
Baltimore Ravens       20.000000
Oakland Raiders        20.024316
Washington Redskins    20.027714
Los Angeles Rams       20.094697
Tennessee Titans       20.105556
Pittsburgh Steelers    20.140271
New Orleans Saints     20.314149
Los Angeles Raiders    20.346154
Philadelphia Eagles    20.481481
Kansas City Chiefs     20.540603
Minnesota Vikings      20.552273
San Diego Chargers     20.553616
Indianapolis Colts     20.656766
Green Bay Packers      20.723744
Dallas Cowboys         20.795918
Carolina Panthers      20.876190
Tennessee Oilers       21.187500
San Francisco 49ers    21.453488
New England Patriots   21.540603
Los Angeles Chargers   23.461538

In [ ]:
scores_df.insert()